.loginForm button:disabled {
  opacity: 0.6;
  cursor: wait;
}

.loginForm .formHeading {
  margin-bottom: 4px;
}

.passwordInput input {
  flex: 1;
  width: 100%;
}

.forgotPassword {
  justify-self: end;
  margin-top: -10px;
  background: transparent;
  padding: 0;
  color: var(--blue);
  font-size: 11px;
  font-weight: 600;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.backButton {
  justify-self: center;
  background: transparent;
  padding: 0;
  color: var(--blue);
  font-size: 11px;
  font-weight: 600;
}

.backButton:hover {
  text-decoration: underline;
}

.info {
  font-size: 11px;
  color: #627087;
  background: #f5f8fc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 16px;
}
